extends layout

block content
  link(rel="stylesheet",href="/css/external/jquery/jquery.tagsinput.css")
  script(src="/js/external/jquery/jquery.tagsinput.min.js")
  script  var surveyId = !{surveyId};
  script(src="/js/lib/survey.js")