extends layout

block content
  script(type="text/javascript",src="/javascripts/members.js")

  div#content
    div#chart
      h3.title Most Common Profile Topics Among B.A.G.L. Members
      div#loading
        span Loading...

