extends layout

block content
  link(rel="stylesheet",href="/stylesheets/jquery.tagsinput.css")
  link(rel="stylesheet",href="/stylesheets/profile.css")
  script(type="text/javascript",src="/javascripts/jquery.tagsinput.min.js")
  script(type="text/javascript",src="/javascripts/profile.js")

  div#content
    div#form.container
      h1#memberName
      h3 NOTE: all inputs are tags, hit enter after each entry, spaces in tags are ok

    div#loadProfile.container
      h1.title Load Profile
      div(style="vertical-align: top")
        h5(style="margin-bottom: 0") New profile: (hit enter to create)
        input#memberName(type="text", style="width: 200px", onkeyup="onMemberNameChange(event);")
      div(style="vertical-align: top")
        h5(style="margin-bottom: 0") Existing: (click to select)
        select#memberList(size="10", style="width: 200px")

    div#thankyou.dialog
      h1.title All Done.
      h3 Thank you. Now enjoy some appetizers and beer from our sponsors at Graphhenge and Neo4J.