extends layout

block content
  script(src="/javascripts/data.js")

  div#content

    h1 Members
    div#memberList

    h1 Academic Foci
    div#academicFocusList

    h1 Products
    div#productList

    h1 Interests
    div#interestList

    h1 Ideas
    div#ideaList