extends layout

block content
  script(type="text/javascript",src="/javascripts/index.js")
  style
    #groupInfo, #eventInfo {
      padding-left: 10px;
    }

    #rsvpVis {
      position: absolute;
      right: 0;
    }

    .description {
      max-width: 500px;
    }

  div#content
    div#groupInfo

    div#eventInfo

